/* Centrer les cerles et leurs contenu dans les carrés*/
div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Affichage des cercles dans les carrés*/
p {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background: rgba(247, 247, 247, 0.61);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.centre p {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background: rgba(247, 247, 247, 0.61);
    text-align: center;
}

/* Positionner les carrés */
.haut {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}



.bas {
    display:flex;
    align-content: flex-end;
    justify-content: space-between;
}

.centre {
    display: flex;
    align-content: center;
    justify-content: center;
}
/* Les mensuration des carrés et leurs couleurs*/
#cube_green{
    background-color:green;
    width: 350px;
    height: 250px;

}

#cube_blue{
    background-color: blue;
    width: 350px;
    height: 250px;

}

#cube_pink {
    background-color: violet;
    width: 350px;
    height: 250px;

}

#cube_orange {
    background-color: orange;
    width: 350px;
    height: 250px;
}

#cube_red {
    background-color: red;
    height: 150px;
    width: 90%;
    margin: 10px;
}
